[core]
	excludesfile = /Users/cthayer/.gitignore_global
[user]
	email = 92743834+thayer7@users.noreply.github.com
	name = Casey Thayer
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
