[core]
	excludesfile = /Users/cthayer/.gitignore_global
[user]
  email = cthayer@zelusanalytics.com
  name = Casey Thayer
[github]
  username = thayer7
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
[column]
	ui = auto
[branch]
  sort = -committerdate
[pager]
  branch = false
